<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OwO Bot</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>OwObot!</h1>
		<p>He keeps track of your bulges so you don't have to!</p>
        <a href="https://discordapp.com/api/oauth2/authorize?client_id=517201738646945803&permissions=27648&scope=bot" class="btn btn-primary btn-lg">Invite!</a>
        <a href="https://top.gg/bot/517201738646945803" class="btn btn-lg">top.gg page</a>
	</div>
</div>
	
</body>
</html>